@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: #b2e4eb;
}

/*!Media Queries*/
@media (max-width:1200px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0;
  }

  header p {
    padding: auto;
  }
  
  .contacto {
    padding: 20px;
  }

  .item {
    pointer-events: none;
  }
}

@media (max-width:768px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0;
  }

header p {
  padding: auto;
}

.contacto {
  padding: 20px;
}

}

@media (max-width:550px) {

header a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-size: 15px;
}

.grilla {
  padding-inline: 0px !important;
}

}

#titu h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 10px;
  font-size: 2rem;
  letter-spacing: 7px;
  color: #ff7b00;
  text-decoration: underline dotted black;
}

/*!HEADER*/

header {
  background-color: #59b6ec;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  padding: 10px 10%;
}

header .logo img {
  display: flex;
  height: 100px;
  width: auto;
  transition: all 0.3s;
}

header .logo img:hover {
  transform: scale(1.1);
}

header .menu li {
  list-style: none;
  display: inline-block;
  margin: auto;
  padding-top: 10px;

}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}

.menu li a:hover {
  background: orange;
}

header .boton button {
  font-weight: 700;
  font-size: 19px;
  color: #0237d6;
  padding: 9px 25px;
  background: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

header .boton button:hover {
  background-color: #e2f1f8;
  color: black;
  transform: scale(1.1);
}

/*!FOOTER*/

footer {
    background-color: #5facd8;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-content: stretch;
  }
  
  .box_footer {
    padding: 50px;
    font-size: 20px;
    width: 250px;
    max-width: 350px;
    font-weight: 500;
    font-size: 20px;
    flex-grow: 1;
  }
  
  footer p {
    color: white;
  }
  
  footer i {
    font-weight: bold;
    color: #fdfb6f;
  }
  
  .box_footer #ig {
    color: #ffeb77;
    font-weight: 600;
    line-height: 2;
    text-decoration: none;
    margin: 0;
  }
  
  .box_footer h2 {
    margin-bottom: 30px;
    color: #ffeb0f;
    font-weight: 800;
    text-align: center;
    text-decoration: underline dotted black;
    letter-spacing: 4px;
  }
  
  .box_footer form {
    box-sizing: border-box;
    display: inline-block;
  }
  
  .box_footer label {
    font-weight: 800;
    font-size: 23px;
    color: #fdfb6f;
    line-height: 40px;
  }
  
  .box_footer input {
    width: 100%;
    margin: 10px auto;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-weight: bold;
  }
  
  .box_footer #suscribir {
    padding: 0 40px;
    background-color: #c00000;
    color: #e2f1f8;
    border: none;
    cursor: pointer;
    padding: 8px 10px;
  }
  
  .box_footer #suscribir:hover {
    opacity: 0.5;
    color: #000000;
    background-color: #e2f1f8;
  }
  
  .box_footer a {
    display: block;
    margin-top: 10px;
    color: #ffdc52;
    font-weight: 600;
    line-height: 2;
    white-space: nowrap;
    text-decoration: none;
  }
  
  .box_footer a:hover {
    opacity: 0.5;
  }
  
  /*?Cajita Derechos de Autor*/
  
  .box_copyright {
    background-color: rgb(255, 230, 0);
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    font-size: large;
  }
  
  .box_copyright p {
    margin-top: auto;
  }

/**NUEVOS PRODUCTOS CON FILTRO*/

  .grilla {
  display: flex;
  gap: 30px;
  padding-inline: 90px;
  align-items: center;
}

.objetos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.botones {
  margin: 30px auto;
  display: none; /**Terminar funcionalidad filtro*/
}

  .itg {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }

  .item {
    float: left;
    background-color: #488bb4;
    color: yellow;
    width: auto;
    text-align: center;
    margin: 10px;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    /*display: none;*/
  }

  .item:hover {
    border: 1px solid #f1c40f;
    box-shadow: 0 10px 20px black;
  }
  
  .info-producto {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }  

  .descripcion {
    font-size: 18px;
    font-weight: 900;
    color: white;
  }

  .show {
    display: block;
  }

  .botn {
    border: none;
    outline: none;
    padding: 20px 20px;
    background-color: #192655;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .estado {
    border: none;
    background: none;
    background-color: black;
    color: whitesmoke;
    padding: 20px 40px;
    font-size: 18px;
  }

.botn:hover {
  background-color: gray;
}

.titu-product {
  color: #FFCD4B;
  font-size: 28px;
  font-weight: bold;
}